version: '3.8'

services:
  api:
    build: ./api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./api:/app
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=scp_db
      - DB_USER=scp_user
      - DB_PASSWORD=scp_pass
      - DB_HOST=db
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=scp_db
      - POSTGRES_USER=scp_user
      - POSTGRES_PASSWORD=scp_pass

volumes:
  postgres_data: